# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 19.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 3.0 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_path = "/content/drive/MyDrive/Big Data - Madrid/Semana 5 - Data Science y Machine Learning/Semana 5 - Mío/Día 2/dataset_part_2.csv"         #Está en la carpeta del drive
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'DanielMunoz'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD

#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
#Esto te crea la BBDD si no existe

if not database_exists(engine.url):
    create_database(engine.url)

Acceder a la página de la base de datos

```
http://13.39.109.107/phpmyadmin
usuario: alumno
password: 385bd4cf713a8a36
```

##Ejemplo de cómo hacer QUERIES

In [ ]:
# Añadir el dataframe a sql, con el nombre SPACEXTBL y usando la función to_sql(). Solo una vez

#df.to_sql('SPACEXTBL', con=engine)      #quitar hashtag para nueva tabla, con otro nombre

In [ ]:
query = "select * from SPACEXTBL"
df  = pd.read_sql(query, con = engine)  #puedes poner el 'engine', sin el 'con ='

df.head(5)

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = '''
        select boosterversion, payload, customers, flights 
        from SPACEXTBL 
        where flights > 3
        '''

df  = pd.read_sql(query, engine)
df

  boosterversion                           payload      customers  flights
0       Falcon 9                        Starlink-1         SpaceX        4
1       Falcon 9                        Starlink-2         SpaceX        4
2       Falcon 9  Crew Dragon In Flight Abort Test  NASA (CCtCap)        4
3       Falcon 9                        Starlink-4         SpaceX        4
4       Falcon 9                        Starlink-5         SpaceX        5
5       Falcon 9                        Starlink-6         SpaceX        4
6       Falcon 9                        Starlink-7         SpaceX        5
7       Falcon 9                       Starlink-10         SpaceX        6
8       Falcon 9                         SAOCOM 1B          CONAE        4
9       Falcon 9                       Starlink-13         SpaceX        6

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = """
        select boosterversion, payload, customers, launchsite 
        from SPACEXTBL 
        where launchsite like 'CCS%' 
        limit 5
        """

df  = pd.read_sql(query, engine)
df

  boosterversion                    payload   customers    launchsite
0       Falcon 9  Dragon Qualification Unit      SpaceX  CCSFS SLC 40
1       Falcon 9         COTS Demo Flight 2  NASA(COTS)  CCSFS SLC 40
2       Falcon 9                      CRS-2  NASA (CRS)  CCSFS SLC 40
3       Falcon 9                      SES-8         SES  CCSFS SLC 40
4       Falcon 9                  Thaicom 6     Thaicom  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """
        select sum(payloadmass) as 'masa total', customers
        from SPACEXTBL 
        where customers = 'NASA (CRS)'
        """

df  = pd.read_sql(query, engine)
df

   masa total   customers
0     47094.7  NASA (CRS)

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """
        select avg(payloadmass)
        from SPACEXTBL 
        where serial like 'B1%'
        """

df  = pd.read_sql(query, engine)
df

   avg(payloadmass)
0       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """
        select min(date) as date, boosterversion, payload, customers, landingoutcome
        from SPACEXTBL
        where landingoutcome = 'TRUE RTLS'
        """

df  = pd.read_sql(query, engine)
df

         date boosterversion         payload customers landingoutcome
0  2015-12-22       Falcon 9  Orbcomm-OG2-M2   Orbcomm      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """
        select serial, payloadmass, landingoutcome
        from SPACEXTBL
        where landingoutcome = 'TRUE ASDS' and payloadmass between 4000 and 6000
        """

df  = pd.read_sql(query, engine)
df

  serial  payloadmass landingoutcome
0  B1022       4696.0      True ASDS
1  B1026       4600.0      True ASDS
2  B1021       5300.0      True ASDS
3  B1031       5200.0      True ASDS
4  B1046       5800.0      True ASDS
5  B1046       4000.0      True ASDS
6  B1059       5000.0      True ASDS

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = """
        select mission_outcome, count(mission_outcome) as conteo
        from SPACEXTBL
        group by mission_outcome
        """

df  = pd.read_sql(query, engine)
df

   mission_outcome  conteo
0                0       2
1                1      88

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """
        select serial, payloadmass as 'masamaxima'
        from SPACEXTBL
        where payloadmass = (select max(payloadmass) from SPACEXTBL)
        """

df  = pd.read_sql(query, engine)
df

   serial  masamaxima
0   B1048     15600.0
1   B1049     15600.0
2   B1051     15600.0
3   B1056     15600.0
4   B1048     15600.0
5   B1051     15600.0
6   B1049     15600.0
7   B1059     15600.0
8   B1049     15600.0
9   B1060     15600.0
10  B1058     15600.0
11  B1051     15600.0
12  B1060     15600.0

### Ejercicio 9

##### Muestra el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """
        select date, landingoutcome, mission_outcome, serial, launchsite
        from SPACEXTBL
        where (landingoutcome like '%false%' or landingoutcome like '%none%') and YEAR(date) = 2015
        """

df  = pd.read_sql(query, engine)
df

         date landingoutcome  mission_outcome serial    launchsite
0  2015-01-10     False ASDS                1  B1012  CCSFS SLC 40
1  2015-04-14     False ASDS                1  B1015  CCSFS SLC 40
2  2015-04-27      None None                1  B1016  CCSFS SLC 40
3  2015-06-28      None ASDS                0  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
#Cuando es un count(), da igual que columna coger, pq solo cuenta filas, y todas tienen la misma. Por eso '*'

query = """
        select date, landingoutcome, count(*) as frecuencia, mission_outcome, serial, launchsite
        from SPACEXTBL
        where date between '2010-06-04' and '2017-03-20'
        group by landingoutcome
        order by frecuencia desc
        """

df  = pd.read_sql(query, engine)
df

         date landingoutcome  frecuencia  mission_outcome serial    launchsite
0  2010-06-04      None None           9                1  B0003  CCSFS SLC 40
1  2016-04-08      True ASDS           5                1  B1021  CCSFS SLC 40
2  2015-01-10     False ASDS           4                1  B1012  CCSFS SLC 40
3  2014-04-18     True Ocean           3                1  B1006  CCSFS SLC 40
4  2015-12-22      True RTLS           3                1  B1019  CCSFS SLC 40
5  2013-09-29    False Ocean           2                1  B1003   VAFB SLC 4E
6  2015-06-28      None ASDS           2                0  B1018  CCSFS SLC 40