In [0]:
# DATOS

# ventas mes de Abril año actual
rdd1 = sc.parallelize([('Nike',51805),('Puma',42329),('Adidas',63542), ('Puma',27923),('Nike',75335),('Puma',45102),('Adidas',49583), ('Puma',37869),('Adidas',54201), ('Puma',31582),('Nike',62747)])


# ventas del 2do TRIM año anterior
rdd2 = sc.parallelize([('Nike',224589),('Adidas',219123),('Puma',166524)])

In [0]:
# Primero agrupamos por key rdd1 para poder hacer una comparación

rdd_resum = rdd1.reduceByKey(lambda v1, v2: v1 + v2)

rdd_resum.collect()

Out[2]: [('Nike', 189887), ('Puma', 184805), ('Adidas', 167326)]

In [0]:
# Por cada key, incluimos ambos datos (Marca (Mes actual, Trim anterior))

rdd_comparar = rdd_resum.join(rdd2)

rdd_comparar.collect()

Out[4]: [('Nike', (189887, 224589)),
 ('Puma', (184805, 166524)),
 ('Adidas', (167326, 219123))]

In [0]:
rdd3 = sc.parallelize([('Nike',51805),('Puma',42329),('Novedad',18536),
('Adidas',63542),('Puma',27923),('Nike',75335),('Puma',45102),
('Adidas',49583), ('Puma',37869),('Novedad',27196), ('Adidas',54201), ('Puma',31582),('Nike',62747),('Novedad',25409)])

rdd4 = sc.parallelize([('Nike',224589),('Adidas',219123),('Puma',166524)])

In [0]:
# Primero agrupamos por key rdd1 para poder hacer una comparación

rdd_resum2 = rdd3.reduceByKey(lambda v1, v2: v1 + v2)

rdd_resum2.collect()

Out[7]: [('Nike', 189887), ('Puma', 184805), ('Adidas', 167326), ('Novedad', 71141)]

In [0]:
# Ahora no podemos hacer join() porque 'Novedad' no tiene datos históricos y no se mostraría

# Usamos un leftOuterJoin()

rdd_comparar = rdd_resum2.leftOuterJoin(rdd4)

rdd_comparar.collect()

Out[14]: [('Nike', (189887, 224589)),
 ('Novedad', (71141, None)),
 ('Puma', (184805, 166524)),
 ('Adidas', (167326, 219123))]