###Modificación de datos

In [0]:
file = 'dbfs:/FileStore/shared_uploads/danielmm97@gmail.com/sales.csv'

sales_df = (spark.read
            .format("csv")
            .option("header", "true")     
            .option("inferSchema", True)
            .load(file))

sales_df.printSchema()

sales_df.show(5)

root
 |-- Order_ID: integer (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
only showing top 5 rows

In [0]:
# withColumn(): Añade una nueva columna al Dataframe

from pyspark.sql.functions import lit, expr

sales_df.withColumn("Sent", lit(False)).show(5)   #  lit() hace que contenga un valor constante en todas las filas

sales_df.withColumn("Total_Price", expr("Units_Sold *  Unit_Price")).show(5)   # Añade el resultado de ese cálculo


# withColumnRenamed(): cambia nombre de una columna

sales_df.withColumnRenamed("Region","Logistics_Area").show(5)

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date| Sent|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|false|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|false|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|false|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|false|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|false|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----+
only showing top 5 rows

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+------------------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date|       Total_Price|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+------------------+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|         142509.72|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|         1989697.2|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|          93169.38|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|         745214.14|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|3914725.6599999997|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+------------------+
only showing top 5 rows

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|      Logistics_Area|             Country| Ship_Date|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
only showing top 5 rows

In [0]:
# drop(): elimina una o varias columnas del Dataframe.

sales_df.withColumn("Total_Price", expr("Units_Sold *  Unit_Price"))

resumen_df = sales_df.drop('Unit_Price','Region')

resumen_df.show(5)


# dropna(): elimina filas que contengan valores nulos o faltantes.
    # how: indica si se debe eliminar una fila si contiene algún valor nulo o faltante (any) o sólo si todos los valores son nulos (all).
    # thresh: indica el número mínimo de valores válidos que debe tener una fila para que no sea eliminada.
    # subset: aplicar a sólo a una(s) columna(s)

not_null_df = sales_df.dropna(how='all', thresh=5)   # Prueba

not_null_df.show()

+---------+----------+-------------+----------+--------------------+----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|             Country| Ship_Date|
+---------+----------+-------------+----------+--------------------+----------+
|535113847|2014-10-08|       Snacks|       934|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|    Cosmetics|      4551|              Panama|2015-02-27|
|854349935|2015-12-09|       Fruits|      9986|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|Personal Care|      9118|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|    Household|      5858|              Belize|2010-03-05|
+---------+----------+-------------+----------+--------------------+----------+
only showing top 5 rows

+---------+----------+---------------+----------+----------+--------------------+--------------------+----------+
| Order_ID|Order_Date|      Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date|
+---------+----------+---------------+----------+----------+--------------------+--------------------+----------+
|535113847|2014-10-08|         Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|      Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|
|854349935|2015-12-09|         Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|  Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|      Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|
|473105037|2013-02-20|        Clothes|      1149|    109.28|              Europe|             Denmark|2013-02-28|
|754046475|2013-03-31|      Cosmetics|      7964|     437.2|              Europe|             Germany|2013-05-03|
|772153747|2012-03-26|         Fruits|      6307|      9.33|Middle East and N...|              Turkey|2012-04-07|
|847788178|2012-12-29|         Snacks|      8217|    152.58|              Europe|      United Kingdom|2013-01-15|
|471623599|2015-09-11|      Cosmetics|      2758|     437.2|                Asia|          Kazakhstan|2015-09-18|
|554646337|2013-12-27|      Cosmetics|      1031|     437.2|Central America a...|               Haiti|2014-01-01|
|278155219|2013-12-17|        Clothes|      1165|    109.28|              Europe|               Italy|2014-01-10|
|243761575|2015-03-10|      Household|      3322|    668.27|              Europe|               Malta|2015-04-17|
|223389232|2014-07-09|      Household|      4693|    668.27|Middle East and N...|              Jordan|2014-07-18|
|509274518|2017-06-14|     Vegetables|      4502|    154.06|                Asia|            Cambodia|2017-06-29|
|563966262|2011-08-10|Office Supplies|      9004|    651.21|Central America a...|Saint Kitts and N...|2011-08-29|
|370325791|2015-12-18|         Fruits|      6486|      9.33|  Sub-Saharan Africa|            Cameroon|2016-02-06|
|881526935|2016-06-26|     Vegetables|      2264|    154.06|Middle East and N...|             Bahrain|2016-07-19|
|871056020|2015-05-11|      Beverages|      3688|     47.45|Australia and Oce...|     Solomon Islands|2015-05-30|
|982711875|2012-01-13|Office Supplies|      5137|    651.21|              Europe|              Monaco|2012-01-17|
+---------+----------+---------------+----------+----------+--------------------+--------------------+----------+
only showing top 20 rows

In [0]:
# cast(): junto con withColumn() y col() cambia el tipo de dato de una columna.

from pyspark.sql.functions import col

sales_df.withColumn('Order_ID', col('Order_ID').cast('string')).printSchema()

root
 |-- Order_ID: string (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

In [0]:
# Pasar a MAY; min

from pyspark.sql.functions import upper, lower

sales_df.withColumn('region', upper(col('region'))).show(5)

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              region|             Country| Ship_Date|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
|535113847|2014-10-08|       Snacks|       934|    152.58|MIDDLE EAST AND N...|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|CENTRAL AMERICA A...|              Panama|2015-02-27|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  SUB-SAHARAN AFRICA|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  SUB-SAHARAN AFRICA|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|    Household|      5858|    668.27|CENTRAL AMERICA A...|              Belize|2010-03-05|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
only showing top 5 rows

In [0]:
# Eliminar espacios: ltrim(izq); rtrim(dcha); trim(ambos)

from pyspark.sql.functions import ltrim, rtrim, trim

sales_df.withColumn('region', trim(col('region'))).show(5)

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              region|             Country| Ship_Date|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
only showing top 5 rows

In [0]:
# Ejemplo general:

#dataframe.write.format(args).mode(save_mode).option('key', 'value').save(path)    

# Save mode: append / overwrite / errorIfExists / ignore

###Agregaciones

In [0]:
# Se pueden llamar sobre el conjunto completo del dfa aunque el mayor uso que se le da y mayor provecho es aplicarlo a agrupaciones.

# Para formar agrupaciones por columna/s, utilizamos 'groupBy(cols)'.

# Lo más usual es a continuación realizar agregados por grupo: '.agg()' (facilita alias, varios agregados).

In [0]:
# Número de ventas realizadas por región (count())
from pyspark.sql.functions import count, countDistinct

sales_df.groupBy('Region','Country').agg(count('Item_Type').alias('NumVentas')).orderBy('Region','Country').show(5)

# Número de productos distintos (countDistinct()) vendidos por región
sales_df.select('Item_Type').distinct().show()

sales_df.groupBy('Region','Country').agg(countDistinct('Item_Type').alias('TiposArtículo')).orderBy('Region','Country').show(5)

+------+----------+---------+
|Region|   Country|NumVentas|
+------+----------+---------+
|  Asia|Bangladesh|      545|
|  Asia|    Bhutan|      534|
|  Asia|    Brunei|      558|
|  Asia|  Cambodia|      584|
|  Asia|     China|      554|
+------+----------+---------+
only showing top 5 rows

+---------------+
|      Item_Type|
+---------------+
|      Baby Food|
|         Cereal|
|           Meat|
|      Household|
|     Vegetables|
|      Beverages|
|Office Supplies|
|      Cosmetics|
|  Personal Care|
|         Fruits|
|         Snacks|
|        Clothes|
+---------------+

+------+----------+-------------+
|Region|   Country|TiposArtículo|
+------+----------+-------------+
|  Asia|Bangladesh|           12|
|  Asia|    Bhutan|           12|
|  Asia|    Brunei|           12|
|  Asia|  Cambodia|           12|
|  Asia|     China|           12|
+------+----------+-------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col, sum, avg, stddev

#Unidades vendidas (sum()) de cada tipo de producto por región, de mayor a menor unidades:
sales_df.groupBy('Item_Type','Region').agg(sum('Units_Sold').alias('TotalUnidades')).orderBy(col('TotalUnidades').desc()).show(10,truncate=False)

# Media (avg()) y desviación típica (stddev()) de las unidades vendidas por producto y región, orden descendente media:
sales_df.groupBy('Item_Type','Region').agg(avg('Units_Sold').alias('MediaUnidades'),stddev('Units_Sold').alias('DesvTip')).orderBy(col('MediaUnidades').desc()).show(10,truncate=False)

+---------------+------------------+-------------+
|Item_Type      |Region            |TotalUnidades|
+---------------+------------------+-------------+
|Cosmetics      |Sub-Saharan Africa|11318369     |
|Baby Food      |Sub-Saharan Africa|11103311     |
|Cereal         |Europe            |11076271     |
|Beverages      |Sub-Saharan Africa|11073025     |
|Office Supplies|Sub-Saharan Africa|11022827     |
|Household      |Sub-Saharan Africa|10967644     |
|Snacks         |Sub-Saharan Africa|10916846     |
|Office Supplies|Europe            |10905284     |
|Vegetables     |Europe            |10859623     |
|Meat           |Sub-Saharan Africa|10792594     |
+---------------+------------------+-------------+
only showing top 10 rows

+-------------+---------------------------------+------------------+------------------+
|Item_Type    |Region                           |MediaUnidades     |DesvTip           |
+-------------+---------------------------------+------------------+------------------+
|Beverages    |North America                    |5452.375          |2856.415933348243 |
|Cosmetics    |North America                    |5302.18085106383  |2807.558944911055 |
|Clothes      |North America                    |5287.262195121952 |2742.2786992890224|
|Household    |North America                    |5201.1604278074865|2893.6112378185708|
|Cosmetics    |Central America and the Caribbean|5188.356681034483 |2851.733881802406 |
|Clothes      |Australia and Oceania            |5181.012213740458 |2849.523470516589 |
|Meat         |Central America and the Caribbean|5160.133554083885 |2927.2767573613182|
|Meat         |Middle East and North Africa     |5159.698536585366 |2889.7345584345194|
|Clothes      |Middle East and North Africa     |5140.41650671785  |2935.337715423718 |
|Personal Care|Australia and Oceania            |5136.383522727273 |2874.2058096455753|
+-------------+---------------------------------+------------------+------------------+
only showing top 10 rows

In [0]:
# Pedidos máximos (max()) y mínimos (min()):

from pyspark.sql.functions import min, max

sales_df.groupBy('Item_Type','Region').agg(max('Units_Sold').alias('PedidoMáximo'),min('Units_Sold').alias('PedidoMínimo')).orderBy(col('PedidoMáximo').desc()).show(10,truncate=False)

+-------------+---------------------------------+------------+------------+
|Item_Type    |Region                           |PedidoMáximo|PedidoMínimo|
+-------------+---------------------------------+------------+------------+
|Cosmetics    |Sub-Saharan Africa               |10000       |1           |
|Cereal       |Sub-Saharan Africa               |10000       |2           |
|Meat         |Middle East and North Africa     |10000       |16          |
|Vegetables   |Australia and Oceania            |10000       |1           |
|Snacks       |Middle East and North Africa     |10000       |1           |
|Personal Care|Europe                           |10000       |9           |
|Household    |Sub-Saharan Africa               |10000       |1           |
|Meat         |Central America and the Caribbean|10000       |9           |
|Personal Care|Sub-Saharan Africa               |9999        |9           |
|Beverages    |Europe                           |9999        |1           |
+-------------+---------------------------------+------------+------------+
only showing top 10 rows